 /* contact info section */
 .contact-info-section{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info-section {
    background: #f1f1f1;
    padding: 40px 5px;
    border-radius: 12px;
    width: 80%;
    margin: 3rem 0;
    
  }

  .info-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    text-align: center;
  }

  .info-item {
    flex: 1;
    min-width: 250px;
    max-width: 300px;
  }

  .info-item .icon {
    font-size: 24px;
    color: #000;
    background-color: white;
    border: 1px solid #ccc;
    width: 50px;
    height: 50px;
    margin: 0 auto 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .info-item h4 {
    font-family: 'Georgia', serif;
    font-size: 20px;
    margin-bottom: 8px;
    color: #222;
  }

  .info-item p {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
  }